:root {
  --light-brown: #534736;
  --dark-brown: #29221c;
  --brown: #745c3f;
  --cream: #FFD2A0;
  --red: #c10c0c;
  --green: #4a7516;
  --orange: #FF8700;
  --light-brown0: #1E1B0D;
  --light-brown1: #1E190D;
}

body {
  background-color: var(--dark-brown);
  color: var(--cream);
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

h1,
h2 {
  color: var(--cream);
}

a {
  color: var(--orange);
}

.core_block {
  border: 1px solid var(--brown);
}

.core_block_header, .header {
  background-color: var(--brown);
}

/* Pie Chart */
.donut-hole {
  fill: var(--dark-brown);
}

.donut-segment.passed {
  stroke: var(--green);
}

.donut-segment.failed {
  stroke: var(--red);
}

/* Table */
.div-table {
  background-color: None;
}

.div-table-cell,
.div-table-head {
  border: 1px solid var(--brown);
}

.div-table-head {
  background: var(--brown);
  color: var(--cream);
}

.div-table-cell {
  color: var(--cream);
}

.div-table .div-table-row:nth-child(odd) {
  background: var(--light-brown0);
}

.div-table .div-table-row:nth-child(even) {
  background: var(--light-brown1);
}

.div-table-cell.failed {
  background-color: var(--red);
}

.div-table-cell.passed {
  background-color: var(--green);
}
