{% import 'pie_chart.html' as pie_chart %}

<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename=css_style + '.css') }}">
    </head>
    <body>
        <div class="row">
          <div class="header">
            <h1 class="no_select">
              Report
            </h1>
          </div>

        </div>

        <div class="row">
          <div class="core_block features">

            <div class="core_block_header">
              <h2 class="no_select">
                Scenario Stats
              </h2>
            </div>

            {{ pie_chart.pie_chart(
              passing=(general_stats.all_scenarios_passed / general_stats.number_of_scenarios) * 100,
              failing=(general_stats.all_scenarios_failed / general_stats.number_of_scenarios) * 100
            )}}

            <div class="core_block_content">
              <div>
                Total Passed: {{ general_stats.all_scenarios_passed }}
              </div>

              <div>
                Total Failed: {{ general_stats.all_scenarios_failed }}
              </div>

              <br>

              <div>
                Slowest Scenario: {{ general_stats.slowest_scenario.name }}
              <br>
                Duration: {{ general_stats.slowest_scenario.duration }}
              </div>
            </div>

          </div>

          <div class="core_block details">

            <div class="core_block_header">
              <h2 class="no_select">
                Feature Stats
              </h2>
            </div>

            {{ pie_chart.pie_chart(
              passing=(general_stats.all_features_passed / general_stats.number_of_features) * 100,
              failing=(general_stats.all_features_failed / general_stats.number_of_features) * 100
            )}}

            <div class="core_block_content">
              <div>
                Total Passed: {{ general_stats.all_features_passed }}
              </div>

              <div>
                Total Failed: {{ general_stats.all_features_failed }}
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="core_block overview">

              <div class="core_block_header">
                <h2 class="no_select">
                  Overview
                </h2>
              </div>

            <div class="table-container">
                Show Passing Features
                <input type="checkbox">
                {% for feature in cucumber_output %}
                  <div class="{{'div-table ' + feature.status}}">
                    <div class="div-table-heading">
                      <div class="div-table-row">
                        <div class="div-table-head">&nbsp;Feature</div>
                        <div class="div-table-head">&nbsp;Status</div>
                        <div class="div-table-head">&nbsp;Total</div>
                        <div class="div-table-head">&nbsp;Passed</div>
                        <div class="div-table-head">&nbsp;Failed</div>
                        <div class="div-table-head">&nbsp;Skipped</div>
                      </div>
                    </div>

                    <div class="div-table-body">
                      <div class="{{'div-table-row ' + feature.status}}">
                        <div class="div-table-cell"><a href="#">{{ feature.name }}</a></div>
                        <div class="div-table-cell">{{ feature.percentage_status }}%</div>
                        <div class="div-table-cell">{{ feature.elements|length }}</div>
                        <div class="div-table-cell">{{ feature.passed }}</div>
                        <div class="div-table-cell">{{ feature.failed}}</div>
                        <div class="div-table-cell">0</div>
                      </div>
                      <br>
                      <div class="div-table scenario-table">
                        <div class="div-table-heading">
                          <div class="{{'div-table-row ' + feature.status}}">
                            <div class="div-table-head">&nbsp;Scenarios</div>
                            <div class="div-table-head">&nbsp;Result</div>
                            <div class="div-table-head">&nbsp;Tags</div>
                            <div class="div-table-head">&nbsp;Duration</div>
                          </div>
                        </div>
                          {% for scenario in feature.elements %}
                            <div class="{{'div-table-row ' + scenario.status}}">
                              <div class="div-table-cell"><a href="#">{{ scenario.name }}</a></div>
                              <div class="{{'div-table-cell ' + scenario.status}}">{{ scenario.status }}</div>
                              <div class="div-table-cell">
                                {% for tag in scenario.tags %}
                                  {{ tag.name }}
                                {% endfor %}
                              </div>
                              <div class="div-table-cell">{{ scenario.duration }}</div>
                            </div>
                          {% endfor %}
                      </div>
                      <br>
                      </div>
                  </div>
                {% endfor %}
              </div>
           </div>
        </div>
    </body>
</html>
